body {   
    background: #A64469;
    height: 100%;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    padding-top: 1em;
    border-top: 1px solid rgb(205, 205, 205);
}

a {
    color: #A64469;
}

li {
    padding-top: 0.75em;
}

img {
    display: block;
    margin: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2395);
    border-radius: 8px
}

.home {
    width: 40%;
}

.recipe {
    width: 60%;
}

.home, .recipe {
    background: #fff;
    margin: 3em auto;
    padding: 24px;
    border: 4px solid #532234;
    border-radius: 16px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.479);
}

.homeButton {
    display: block;
    text-align: center;
    padding-top: 1em;
    border-top: 1px solid rgb(205, 205, 205);
}